.darkcrusher {
    height: 32px;
    width: 32px;
    background-position: 0 0;
}

.darkcrow {
    height: 32px;
    width: 32px;
    background-position: 0 -32px;
}

.darkblade {
    height: 32px;
    width: 32px;
    background-position: 0 -64px;
}

.darkcuirass {
    height: 32px;
    width: 32px;
    background-position: 0 -96px;
}

.darkgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -128px;
}

.darkflute {
    height: 32px;
    width: 32px;
    background-position: 0 -160px;
}

.darkenergy {
    height: 32px;
    width: 32px;
    background-position: 0 -192px;
}

.darkbetrayer {
    height: 32px;
    width: 32px;
    background-position: 0 -224px;
}

.dancershoes {
    height: 32px;
    width: 32px;
    background-position: 0 -256px;
}

.dagger {
    height: 32px;
    width: 32px;
    background-position: 0 -288px;
}

.cyberneticgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -320px;
}

.darconicheartbeat {
    height: 32px;
    width: 32px;
    background-position: 0 -352px;
}

.darkberserkaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -384px;
}

.darkangelring {
    height: 32px;
    width: 32px;
    background-position: 0 -416px;
}

.darkaegis {
    height: 32px;
    width: 32px;
    background-position: 0 -448px;
}

.darksmashers {
    height: 32px;
    width: 32px;
    background-position: 0 -480px;
}

.darksilverarmor {
    height: 32px;
    width: 32px;
    background-position: 0 -512px;
}

.darkshiv {
    height: 32px;
    width: 32px;
    background-position: 0 -544px;
}

.darktiara {
    height: 32px;
    width: 32px;
    background-position: 0 -576px;
}

.darkvambrace {
    height: 32px;
    width: 32px;
    background-position: 0 -608px;
}

.darktrinity {
    height: 32px;
    width: 32px;
    background-position: 0 -640px;
}

.darktransfixer {
    height: 32px;
    width: 32px;
    background-position: 0 -672px;
}

.darkscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -704px;
}

.darkharp {
    height: 32px;
    width: 32px;
    background-position: 0 -736px;
}

.darkhand {
    height: 32px;
    width: 32px;
    background-position: 0 -768px;
}

.darkgreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -800px;
}

.darkimpaler {
    height: 32px;
    width: 32px;
    background-position: 0 -832px;
}

.darkscimitar {
    height: 32px;
    width: 32px;
    background-position: 0 -864px;
}

.darkrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -896px;
}

.darkknighthelm {
    height: 32px;
    width: 32px;
    background-position: 0 -928px;
}

.cultiststaff {
    height: 32px;
    width: 32px;
    background-position: 0 -960px;
}

.club {
    height: 32px;
    width: 32px;
    background-position: 0 -992px;
}

.clowndust {
    height: 32px;
    width: 32px;
    background-position: 0 -1024px;
}

.cloak {
    height: 32px;
    width: 32px;
    background-position: 0 -1056px;
}

.coldfiredust {
    height: 32px;
    width: 32px;
    background-position: 0 -1088px;
}

.commandstone {
    height: 32px;
    width: 32px;
    background-position: 0 -1120px;
}

.colorspray {
    height: 32px;
    width: 32px;
    background-position: 0 -1152px;
}

.coldsteel {
    height: 32px;
    width: 32px;
    background-position: 0 -1184px;
}

.cleansingbarktea {
    height: 32px;
    width: 32px;
    background-position: 0 -1216px;
}

.chinesedrum {
    height: 32px;
    width: 32px;
    background-position: 0 -1248px;
}

.chimerawings {
    height: 32px;
    width: 32px;
    background-position: 0 -1280px;
}

.chimalli {
    height: 32px;
    width: 32px;
    background-position: 0 -1312px;
}

.cindarigloves {
    height: 32px;
    width: 32px;
    background-position: 0 -1344px;
}

.claymore {
    height: 32px;
    width: 32px;
    background-position: 0 -1376px;
}

.claritypotion {
    height: 32px;
    width: 32px;
    background-position: 0 -1408px;
}

.circlet {
    height: 32px;
    width: 32px;
    background-position: 0 -1440px;
}

.crusaderring {
    height: 32px;
    width: 32px;
    background-position: 0 -1472px;
}

.crowstick {
    height: 32px;
    width: 32px;
    background-position: 0 -1504px;
}

.crossbow {
    height: 32px;
    width: 32px;
    background-position: 0 -1536px;
}

.crystalasunder {
    height: 32px;
    width: 32px;
    background-position: 0 -1568px;
}

.cuirass {
    height: 32px;
    width: 32px;
    background-position: 0 -1600px;
}

.crystalshield {
    height: 32px;
    width: 32px;
    background-position: 0 -1632px;
}

.crystalbulwark {
    height: 32px;
    width: 32px;
    background-position: 0 -1664px;
}

.crescentring {
    height: 32px;
    width: 32px;
    background-position: 0 -1696px;
}

.cookiecutter {
    height: 32px;
    width: 32px;
    background-position: 0 -1728px;
}

.conqueror {
    height: 32px;
    width: 32px;
    background-position: 0 -1760px;
}

.compositebow {
    height: 32px;
    width: 32px;
    background-position: 0 -1792px;
}

.cornucopia {
    height: 32px;
    width: 32px;
    background-position: 0 -1824px;
}

.crabhat {
    height: 32px;
    width: 32px;
    background-position: 0 -1856px;
}

.cowhidejacket {
    height: 32px;
    width: 32px;
    background-position: 0 -1888px;
}

.cowboyhat {
    height: 32px;
    width: 32px;
    background-position: 0 -1920px;
}

.dragonfire {
    height: 32px;
    width: 32px;
    background-position: 0 -1952px;
}

.dragonfang {
    height: 32px;
    width: 32px;
    background-position: 0 -1984px;
}

.dragoneye {
    height: 32px;
    width: 32px;
    background-position: 0 -2016px;
}

.dragonfirepotion {
    height: 32px;
    width: 32px;
    background-position: 0 -2048px;
}

.dragonscale {
    height: 32px;
    width: 32px;
    background-position: 0 -2080px;
}

.dragonsbreath {
    height: 32px;
    width: 32px;
    background-position: 0 -2112px;
}

.dragoniccharm {
    height: 32px;
    width: 32px;
    background-position: 0 -2144px;
}

.dragonessencetea {
    height: 32px;
    width: 32px;
    background-position: 0 -2176px;
}

.draconiansound {
    height: 32px;
    width: 32px;
    background-position: 0 -2208px;
}

.doublet {
    height: 32px;
    width: 32px;
    background-position: 0 -2240px;
}

.doublestring {
    height: 32px;
    width: 32px;
    background-position: 0 -2272px;
}

.draconicplate {
    height: 32px;
    width: 32px;
    background-position: 0 -2304px;
}

.dragondust {
    height: 32px;
    width: 32px;
    background-position: 0 -2336px;
}

.dragonblood {
    height: 32px;
    width: 32px;
    background-position: 0 -2368px;
}

.draconicscepter {
    height: 32px;
    width: 32px;
    background-position: 0 -2400px;
}

.dragooncasque {
    height: 32px;
    width: 32px;
    background-position: 0 -2432px;
}

.dragontotem {
    height: 32px;
    width: 32px;
    background-position: 0 -2464px;
}

.dragonslayer {
    height: 32px;
    width: 32px;
    background-position: 0 -2496px;
}

.druidicaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -2528px;
}

.durandal {
    height: 32px;
    width: 32px;
    background-position: 0 -2560px;
}

.druidicshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -2592px;
}

.druidicrod {
    height: 32px;
    width: 32px;
    background-position: 0 -2624px;
}

.dragonskull {
    height: 32px;
    width: 32px;
    background-position: 0 -2656px;
}

.dragonscalehelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -2688px;
}

.dragonscalegreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -2720px;
}

.dragonscalegauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -2752px;
}

.dragonseye {
    height: 32px;
    width: 32px;
    background-position: 0 -2784px;
}

.dragonskinboots {
    height: 32px;
    width: 32px;
    background-position: 0 -2816px;
}

.dragonskin {
    height: 32px;
    width: 32px;
    background-position: 0 -2848px;
}

.dragonsignet {
    height: 32px;
    width: 32px;
    background-position: 0 -2880px;
}

.doublebarrel {
    height: 32px;
    width: 32px;
    background-position: 0 -2912px;
}

.demonblood {
    height: 32px;
    width: 32px;
    background-position: 0 -2944px;
}

.demolisher {
    height: 32px;
    width: 32px;
    background-position: 0 -2976px;
}

.deceptionstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -3008px;
}

.demonheart {
    height: 32px;
    width: 32px;
    background-position: 0 -3040px;
}

.demontracker {
    height: 32px;
    width: 32px;
    background-position: 0 -3072px;
}

.demonshield {
    height: 32px;
    width: 32px;
    background-position: 0 -3104px;
}

.demonicvisage {
    height: 32px;
    width: 32px;
    background-position: 0 -3136px;
}

.deceptionscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -3168px;
}

.darts {
    height: 32px;
    width: 32px;
    background-position: 0 -3200px;
}

.darkwingedspear {
    height: 32px;
    width: 32px;
    background-position: 0 -3232px;
}

.darkvisage {
    height: 32px;
    width: 32px;
    background-position: 0 -3264px;
}

.deathgrip {
    height: 32px;
    width: 32px;
    background-position: 0 -3296px;
}

.deathveil {
    height: 32px;
    width: 32px;
    background-position: 0 -3328px;
}

.deathstick {
    height: 32px;
    width: 32px;
    background-position: 0 -3360px;
}

.deathmissive {
    height: 32px;
    width: 32px;
    background-position: 0 -3392px;
}

.divinemark {
    height: 32px;
    width: 32px;
    background-position: 0 -3424px;
}

.disintegrationscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -3456px;
}

.dirk {
    height: 32px;
    width: 32px;
    background-position: 0 -3488px;
}

.dominatorsimpaler {
    height: 32px;
    width: 32px;
    background-position: 0 -3520px;
}

.dominatorswand {
    height: 32px;
    width: 32px;
    background-position: 0 -3552px;
}

.dominatorsreaver {
    height: 32px;
    width: 32px;
    background-position: 0 -3584px;
}

.dominatorsmace {
    height: 32px;
    width: 32px;
    background-position: 0 -3616px;
}

.dexteriousgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -3648px;
}

.devastatingpike {
    height: 32px;
    width: 32px;
    background-position: 0 -3680px;
}

.devastatingbasher {
    height: 32px;
    width: 32px;
    background-position: 0 -3712px;
}

.destroyer {
    height: 32px;
    width: 32px;
    background-position: 0 -3744px;
}

.devastatingstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -3776px;
}

.devildust {
    height: 32px;
    width: 32px;
    background-position: 0 -3808px;
}

.devilblood {
    height: 32px;
    width: 32px;
    background-position: 0 -3840px;
}

.devastatingsunder {
    height: 32px;
    width: 32px;
    background-position: 0 -3872px;
}

.chest_wood {
    height: 32px;
    width: 32px;
    background-position: 0 -3904px;
}

.azureboots {
    height: 32px;
    width: 32px;
    background-position: 0 -3936px;
}

.azurebeads {
    height: 32px;
    width: 32px;
    background-position: 0 -3968px;
}

.axepistol {
    height: 32px;
    width: 32px;
    background-position: 0 -4000px;
}

.azurering {
    height: 32px;
    width: 32px;
    background-position: 0 -4032px;
}

.bag_mysterious {
    height: 32px;
    width: 32px;
    background-position: 0 -4064px;
}

.bag_legendary {
    height: 32px;
    width: 32px;
    background-position: 0 -4096px;
}

.baconblade {
    height: 32px;
    width: 32px;
    background-position: 0 -4128px;
}

.augurjewel {
    height: 32px;
    width: 32px;
    background-position: 0 -4160px;
}

.argusshield {
    height: 32px;
    width: 32px;
    background-position: 0 -4192px;
}

.archwizardshat {
    height: 32px;
    width: 32px;
    background-position: 0 -4224px;
}

.archwizardrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -4256px;
}

.arquebuse {
    height: 32px;
    width: 32px;
    background-position: 0 -4288px;
}

.ascalon {
    height: 32px;
    width: 32px;
    background-position: 0 -4320px;
}

.artofwar {
    height: 32px;
    width: 32px;
    background-position: 0 -4352px;
}

.artemisbow {
    height: 32px;
    width: 32px;
    background-position: 0 -4384px;
}

.beararmor {
    height: 32px;
    width: 32px;
    background-position: 0 -4416px;
}

.battlestaff {
    height: 32px;
    width: 32px;
    background-position: 0 -4448px;
}

.battlemace {
    height: 32px;
    width: 32px;
    background-position: 0 -4480px;
}

.berserkeraxe {
    height: 32px;
    width: 32px;
    background-position: 0 -4512px;
}

.bishopstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -4544px;
}

.betrayer {
    height: 32px;
    width: 32px;
    background-position: 0 -4576px;
}

.berserkergauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -4608px;
}

.bastardsword {
    height: 32px;
    width: 32px;
    background-position: 0 -4640px;
}

.baguamirror {
    height: 32px;
    width: 32px;
    background-position: 0 -4672px;
}

.bag_wondrous {
    height: 32px;
    width: 32px;
    background-position: 0 -4704px;
}

.bag_treasure {
    height: 32px;
    width: 32px;
    background-position: 0 -4736px;
}

.bakingapron {
    height: 32px;
    width: 32px;
    background-position: 0 -4768px;
}

.bandofsight {
    height: 32px;
    width: 32px;
    background-position: 0 -4800px;
}

.bandedmail {
    height: 32px;
    width: 32px;
    background-position: 0 -4832px;
}

.balmung {
    height: 32px;
    width: 32px;
    background-position: 0 -4864px;
}

.archangelgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -4896px;
}

.affection {
    height: 32px;
    width: 32px;
    background-position: 0 -4928px;
}

.aegis {
    height: 32px;
    width: 32px;
    background-position: 0 -4960px;
}

.adamantxbow {
    height: 32px;
    width: 32px;
    background-position: 0 -4992px;
}

.ai {
    height: 32px;
    width: 32px;
    background-position: 0 -5024px;
}

.amuletoflight {
    height: 32px;
    width: 32px;
    background-position: 0 -5056px;
}

.alchemistgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -5088px;
}

.albizia {
    height: 32px;
    width: 32px;
    background-position: 0 -5120px;
}

.adamantiumhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -5152px;
}

.abyssalgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -5184px;
}

.abyssalflute {
    height: 32px;
    width: 32px;
    background-position: 0 -5216px;
}

.abyssalbrand {
    height: 32px;
    width: 32px;
    background-position: 0 -5248px;
}

.acidicsplash {
    height: 32px;
    width: 32px;
    background-position: 0 -5280px;
}

.adamantiumfists {
    height: 32px;
    width: 32px;
    background-position: 0 -5312px;
}

.adamantiumboots {
    height: 32px;
    width: 32px;
    background-position: 0 -5344px;
}

.adamantium {
    height: 32px;
    width: 32px;
    background-position: 0 -5376px;
}

.apprenticerobes {
    height: 32px;
    width: 32px;
    background-position: 0 -5408px;
}

.apocalyptus {
    height: 32px;
    width: 32px;
    background-position: 0 -5440px;
}

.antivenom {
    height: 32px;
    width: 32px;
    background-position: 0 -5472px;
}

.aragonite {
    height: 32px;
    width: 32px;
    background-position: 0 -5504px;
}

.arcanesandals {
    height: 32px;
    width: 32px;
    background-position: 0 -5536px;
}

.arcaneguard {
    height: 32px;
    width: 32px;
    background-position: 0 -5568px;
}

.arcanecompendium {
    height: 32px;
    width: 32px;
    background-position: 0 -5600px;
}

.antimagicband {
    height: 32px;
    width: 32px;
    background-position: 0 -5632px;
}

.angeldust {
    height: 32px;
    width: 32px;
    background-position: 0 -5664px;
}

.ancienthorn {
    height: 32px;
    width: 32px;
    background-position: 0 -5696px;
}

.ancientessence {
    height: 32px;
    width: 32px;
    background-position: 0 -5728px;
}

.angelgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -5760px;
}

.antidote {
    height: 32px;
    width: 32px;
    background-position: 0 -5792px;
}

.ankhamulet {
    height: 32px;
    width: 32px;
    background-position: 0 -5824px;
}

.angelicbell {
    height: 32px;
    width: 32px;
    background-position: 0 -5856px;
}

.chaingreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -5888px;
}

.ceremonialerhu {
    height: 32px;
    width: 32px;
    background-position: 0 -5920px;
}

.celticslate {
    height: 32px;
    width: 32px;
    background-position: 0 -5952px;
}

.chainmail {
    height: 32px;
    width: 32px;
    background-position: 0 -5984px;
}

.chalice {
    height: 32px;
    width: 32px;
    background-position: 0 -6016px;
}

.chakram {
    height: 32px;
    width: 32px;
    background-position: 0 -6048px;
}

.chainmailgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -6080px;
}

.celticshield {
    height: 32px;
    width: 32px;
    background-position: 0 -6112px;
}

.carver {
    height: 32px;
    width: 32px;
    background-position: 0 -6144px;
}

.candycanestaff {
    height: 32px;
    width: 32px;
    background-position: 0 -6176px;
}

.candycanepistol {
    height: 32px;
    width: 32px;
    background-position: 0 -6208px;
}

.catseye {
    height: 32px;
    width: 32px;
    background-position: 0 -6240px;
}

.celticcoat {
    height: 32px;
    width: 32px;
    background-position: 0 -6272px;
}

.celticbracer {
    height: 32px;
    width: 32px;
    background-position: 0 -6304px;
}

.celestialhat {
    height: 32px;
    width: 32px;
    background-position: 0 -6336px;
}

.chest_gold {
    height: 32px;
    width: 32px;
    background-position: 0 -6368px;
}

.chest_dwarvish {
    height: 32px;
    width: 32px;
    background-position: 0 -6400px;
}

.charmscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -6432px;
}

.chest_iron {
    height: 32px;
    width: 32px;
    background-position: 0 -6464px;
}

.chest_primal {
    height: 32px;
    width: 32px;
    background-position: 0 -6496px;
}

.chest_magic {
    height: 32px;
    width: 32px;
    background-position: 0 -6528px;
}

.chest_leather {
    height: 32px;
    width: 32px;
    background-position: 0 -6560px;
}

.chargeore {
    height: 32px;
    width: 32px;
    background-position: 0 -6592px;
}

.challengersrod {
    height: 32px;
    width: 32px;
    background-position: 0 -6624px;
}

.challengersmaul {
    height: 32px;
    width: 32px;
    background-position: 0 -6656px;
}

.challengershatchet {
    height: 32px;
    width: 32px;
    background-position: 0 -6688px;
}

.challengersspear {
    height: 32px;
    width: 32px;
    background-position: 0 -6720px;
}

.chaosmail {
    height: 32px;
    width: 32px;
    background-position: 0 -6752px;
}

.championstorch {
    height: 32px;
    width: 32px;
    background-position: 0 -6784px;
}

.championsgreathelm {
    height: 32px;
    width: 32px;
    background-position: 0 -6816px;
}

.burningember {
    height: 32px;
    width: 32px;
    background-position: 0 -6848px;
}

.blueleather {
    height: 32px;
    width: 32px;
    background-position: 0 -6880px;
}

.bloodstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -6912px;
}

.bloodscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -6944px;
}

.blueranger {
    height: 32px;
    width: 32px;
    background-position: 0 -6976px;
}

.bluesteelshield {
    height: 32px;
    width: 32px;
    background-position: 0 -7008px;
}

.bluesteelhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -7040px;
}

.bluesteel {
    height: 32px;
    width: 32px;
    background-position: 0 -7072px;
}

.bloodlustgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -7104px;
}

.blackstock {
    height: 32px;
    width: 32px;
    background-position: 0 -7136px;
}

.blackmail {
    height: 32px;
    width: 32px;
    background-position: 0 -7168px;
}

.blackknightaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -7200px;
}

.bladedfeather {
    height: 32px;
    width: 32px;
    background-position: 0 -7232px;
}

.blessedaegis {
    height: 32px;
    width: 32px;
    background-position: 0 -7264px;
}

.blaster {
    height: 32px;
    width: 32px;
    background-position: 0 -7296px;
}

.bladeofpower {
    height: 32px;
    width: 32px;
    background-position: 0 -7328px;
}

.bronzedagger {
    height: 32px;
    width: 32px;
    background-position: 0 -7360px;
}

.broadsword {
    height: 32px;
    width: 32px;
    background-position: 0 -7392px;
}

.broadblade {
    height: 32px;
    width: 32px;
    background-position: 0 -7424px;
}

.bucklehat {
    height: 32px;
    width: 32px;
    background-position: 0 -7456px;
}

.bundleup {
    height: 32px;
    width: 32px;
    background-position: 0 -7488px;
}

.bulwark {
    height: 32px;
    width: 32px;
    background-position: 0 -7520px;
}

.buckler {
    height: 32px;
    width: 32px;
    background-position: 0 -7552px;
}

.broadaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -7584px;
}

.bonereaver {
    height: 32px;
    width: 32px;
    background-position: 0 -7616px;
}

.bomblauncher {
    height: 32px;
    width: 32px;
    background-position: 0 -7648px;
}

.boiledleather {
    height: 32px;
    width: 32px;
    background-position: 0 -7680px;
}

.bonespear {
    height: 32px;
    width: 32px;
    background-position: 0 -7712px;
}

.brigandine {
    height: 32px;
    width: 32px;
    background-position: 0 -7744px;
}

.bowlight {
    height: 32px;
    width: 32px;
    background-position: 0 -7776px;
}

.boomerang {
    height: 32px;
    width: 32px;
    background-position: 0 -7808px;
}
