.greatermanapotion {
    height: 32px;
    width: 32px;
    background-position: 0 0;
}

.greaterhealthpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -32px;
}

.greathelm {
    height: 32px;
    width: 32px;
    background-position: 0 -64px;
}

.grostesquering {
    height: 32px;
    width: 32px;
    background-position: 0 -96px;
}

.greendragon {
    height: 32px;
    width: 32px;
    background-position: 0 -128px;
}

.grandmastergloves {
    height: 32px;
    width: 32px;
    background-position: 0 -160px;
}

.goldenthread {
    height: 32px;
    width: 32px;
    background-position: 0 -192px;
}

.goldenstring {
    height: 32px;
    width: 32px;
    background-position: 0 -224px;
}

.goldgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -256px;
}

.goldstitch {
    height: 32px;
    width: 32px;
    background-position: 0 -288px;
}

.goldhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -320px;
}

.halfplate {
    height: 32px;
    width: 32px;
    background-position: 0 -352px;
}

.halfpike {
    height: 32px;
    width: 32px;
    background-position: 0 -384px;
}

.hallowedcasket {
    height: 32px;
    width: 32px;
    background-position: 0 -416px;
}

.hallowedskull {
    height: 32px;
    width: 32px;
    background-position: 0 -448px;
}

.hallowedgrip {
    height: 32px;
    width: 32px;
    background-position: 0 -480px;
}

.halfmoonshield {
    height: 32px;
    width: 32px;
    background-position: 0 -512px;
}

.gungnir {
    height: 32px;
    width: 32px;
    background-position: 0 -544px;
}

.guardianprotector {
    height: 32px;
    width: 32px;
    background-position: 0 -576px;
}

.guttingknife {
    height: 32px;
    width: 32px;
    background-position: 0 -608px;
}

.halberd {
    height: 32px;
    width: 32px;
    background-position: 0 -640px;
}

.guzheng {
    height: 32px;
    width: 32px;
    background-position: 0 -672px;
}

.goldenshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -704px;
}

.gauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -736px;
}

.gaiaspear {
    height: 32px;
    width: 32px;
    background-position: 0 -768px;
}

.genjiarmor {
    height: 32px;
    width: 32px;
    background-position: 0 -800px;
}

.GFG {
    height: 32px;
    width: 32px;
    background-position: 0 -832px;
}

.genjigetas {
    height: 32px;
    width: 32px;
    background-position: 0 -864px;
}

.gaiashield {
    height: 32px;
    width: 32px;
    background-position: 0 -896px;
}

.furgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -928px;
}

.fungibrew {
    height: 32px;
    width: 32px;
    background-position: 0 -960px;
}

.furloafers {
    height: 32px;
    width: 32px;
    background-position: 0 -992px;
}

.gaiacape {
    height: 32px;
    width: 32px;
    background-position: 0 -1024px;
}

.furyclub {
    height: 32px;
    width: 32px;
    background-position: 0 -1056px;
}

.golddigger {
    height: 32px;
    width: 32px;
    background-position: 0 -1088px;
}

.goddesstear {
    height: 32px;
    width: 32px;
    background-position: 0 -1120px;
}

.golddirk {
    height: 32px;
    width: 32px;
    background-position: 0 -1152px;
}

.goldenpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -1184px;
}

.goldencrown {
    height: 32px;
    width: 32px;
    background-position: 0 -1216px;
}

.gloves {
    height: 32px;
    width: 32px;
    background-position: 0 -1248px;
}

.giantshield {
    height: 32px;
    width: 32px;
    background-position: 0 -1280px;
}

.gianthammer {
    height: 32px;
    width: 32px;
    background-position: 0 -1312px;
}

.gigabrace {
    height: 32px;
    width: 32px;
    background-position: 0 -1344px;
}

.gloomtotem {
    height: 32px;
    width: 32px;
    background-position: 0 -1376px;
}

.gingerbreadman {
    height: 32px;
    width: 32px;
    background-position: 0 -1408px;
}

.hallowedstomper {
    height: 32px;
    width: 32px;
    background-position: 0 -1440px;
}

.heavyxbow {
    height: 32px;
    width: 32px;
    background-position: 0 -1472px;
}

.heavymace {
    height: 32px;
    width: 32px;
    background-position: 0 -1504px;
}

.hellfireruby {
    height: 32px;
    width: 32px;
    background-position: 0 -1536px;
}

.hoe {
    height: 32px;
    width: 32px;
    background-position: 0 -1568px;
}

.hidearmor {
    height: 32px;
    width: 32px;
    background-position: 0 -1600px;
}

.heavyboots {
    height: 32px;
    width: 32px;
    background-position: 0 -1632px;
}

.heartshooter {
    height: 32px;
    width: 32px;
    background-position: 0 -1664px;
}

.heartrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -1696px;
}

.heartstopperaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -1728px;
}

.heavenswill {
    height: 32px;
    width: 32px;
    background-position: 0 -1760px;
}

.heatershield {
    height: 32px;
    width: 32px;
    background-position: 0 -1792px;
}

.houndsofhell {
    height: 32px;
    width: 32px;
    background-position: 0 -1824px;
}

.horseshoering {
    height: 32px;
    width: 32px;
    background-position: 0 -1856px;
}

.hundredton {
    height: 32px;
    width: 32px;
    background-position: 0 -1888px;
}

.huntingknife {
    height: 32px;
    width: 32px;
    background-position: 0 -1920px;
}

.huntingaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -1952px;
}

.hornedshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -1984px;
}

.honormail {
    height: 32px;
    width: 32px;
    background-position: 0 -2016px;
}

.holytunic {
    height: 32px;
    width: 32px;
    background-position: 0 -2048px;
}

.hood {
    height: 32px;
    width: 32px;
    background-position: 0 -2080px;
}

.hornedhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -2112px;
}

.horn {
    height: 32px;
    width: 32px;
    background-position: 0 -2144px;
}

.heartring {
    height: 32px;
    width: 32px;
    background-position: 0 -2176px;
}

.harp {
    height: 32px;
    width: 32px;
    background-position: 0 -2208px;
}

.hardhat {
    height: 32px;
    width: 32px;
    background-position: 0 -2240px;
}

.harvesterbow {
    height: 32px;
    width: 32px;
    background-position: 0 -2272px;
}

.harvestshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -2304px;
}

.harvestflute {
    height: 32px;
    width: 32px;
    background-position: 0 -2336px;
}

.hangingjournal {
    height: 32px;
    width: 32px;
    background-position: 0 -2368px;
}

.hammerfist {
    height: 32px;
    width: 32px;
    background-position: 0 -2400px;
}

.hallowedstriker {
    height: 32px;
    width: 32px;
    background-position: 0 -2432px;
}

.handaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -2464px;
}

.handhook {
    height: 32px;
    width: 32px;
    background-position: 0 -2496px;
}

.handdrum {
    height: 32px;
    width: 32px;
    background-position: 0 -2528px;
}

.hearthelm {
    height: 32px;
    width: 32px;
    background-position: 0 -2560px;
}

.healthdrink {
    height: 32px;
    width: 32px;
    background-position: 0 -2592px;
}

.heartofgold {
    height: 32px;
    width: 32px;
    background-position: 0 -2624px;
}

.heartpiercer {
    height: 32px;
    width: 32px;
    background-position: 0 -2656px;
}

.heartpendent {
    height: 32px;
    width: 32px;
    background-position: 0 -2688px;
}

.healingrod {
    height: 32px;
    width: 32px;
    background-position: 0 -2720px;
}

.hawkshield {
    height: 32px;
    width: 32px;
    background-position: 0 -2752px;
}

.hawk {
    height: 32px;
    width: 32px;
    background-position: 0 -2784px;
}

.hawktotem {
    height: 32px;
    width: 32px;
    background-position: 0 -2816px;
}

.healingpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -2848px;
}

.healingherbs {
    height: 32px;
    width: 32px;
    background-position: 0 -2880px;
}

.evelyn {
    height: 32px;
    width: 32px;
    background-position: 0 -2912px;
}

.essenceofgods {
    height: 32px;
    width: 32px;
    background-position: 0 -2944px;
}

.excalibur {
    height: 32px;
    width: 32px;
    background-position: 0 -2976px;
}

.explorerboots {
    height: 32px;
    width: 32px;
    background-position: 0 -3008px;
}

.explodingdarts {
    height: 32px;
    width: 32px;
    background-position: 0 -3040px;
}

.epochstrings {
    height: 32px;
    width: 32px;
    background-position: 0 -3072px;
}

.emeraldmarch {
    height: 32px;
    width: 32px;
    background-position: 0 -3104px;
}

.embershield {
    height: 32px;
    width: 32px;
    background-position: 0 -3136px;
}

.emergencywater {
    height: 32px;
    width: 32px;
    background-position: 0 -3168px;
}

.empyreandew {
    height: 32px;
    width: 32px;
    background-position: 0 -3200px;
}

.emperorwand {
    height: 32px;
    width: 32px;
    background-position: 0 -3232px;
}

.fangtianpike {
    height: 32px;
    width: 32px;
    background-position: 0 -3264px;
}

.familyheirloom {
    height: 32px;
    width: 32px;
    background-position: 0 -3296px;
}

.festivebombs {
    height: 32px;
    width: 32px;
    background-position: 0 -3328px;
}

.fireballscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -3360px;
}

.fierytalisman {
    height: 32px;
    width: 32px;
    background-position: 0 -3392px;
}

.falconwing {
    height: 32px;
    width: 32px;
    background-position: 0 -3424px;
}

.fairysmount {
    height: 32px;
    width: 32px;
    background-position: 0 -3456px;
}

.faerystring {
    height: 32px;
    width: 32px;
    background-position: 0 -3488px;
}

.fairysprinkle {
    height: 32px;
    width: 32px;
    background-position: 0 -3520px;
}

.falconeye {
    height: 32px;
    width: 32px;
    background-position: 0 -3552px;
}

.falconer {
    height: 32px;
    width: 32px;
    background-position: 0 -3584px;
}

.elvensunblock {
    height: 32px;
    width: 32px;
    background-position: 0 -3616px;
}

.eggnogpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -3648px;
}

.easterring {
    height: 32px;
    width: 32px;
    background-position: 0 -3680px;
}

.eggsplosive {
    height: 32px;
    width: 32px;
    background-position: 0 -3712px;
}

.elastisling {
    height: 32px;
    width: 32px;
    background-position: 0 -3744px;
}

.ehecatlgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -3776px;
}

.earthshakers {
    height: 32px;
    width: 32px;
    background-position: 0 -3808px;
}

.eagleeye {
    height: 32px;
    width: 32px;
    background-position: 0 -3840px;
}

.eagle {
    height: 32px;
    width: 32px;
    background-position: 0 -3872px;
}

.eaglestaff {
    height: 32px;
    width: 32px;
    background-position: 0 -3904px;
}

.earthquake {
    height: 32px;
    width: 32px;
    background-position: 0 -3936px;
}

.earthenmail {
    height: 32px;
    width: 32px;
    background-position: 0 -3968px;
}

.elvenbow {
    height: 32px;
    width: 32px;
    background-position: 0 -4000px;
}

.elvenboots {
    height: 32px;
    width: 32px;
    background-position: 0 -4032px;
}

.elvencoif {
    height: 32px;
    width: 32px;
    background-position: 0 -4064px;
}

.elvendew {
    height: 32px;
    width: 32px;
    background-position: 0 -4096px;
}

.elvencure {
    height: 32px;
    width: 32px;
    background-position: 0 -4128px;
}

.elixirdrop {
    height: 32px;
    width: 32px;
    background-position: 0 -4160px;
}

.eldritchmail {
    height: 32px;
    width: 32px;
    background-position: 0 -4192px;
}

.elderflowercure {
    height: 32px;
    width: 32px;
    background-position: 0 -4224px;
}

.elementalbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -4256px;
}

.elixir {
    height: 32px;
    width: 32px;
    background-position: 0 -4288px;
}

.elirshauberk {
    height: 32px;
    width: 32px;
    background-position: 0 -4320px;
}

.fireband {
    height: 32px;
    width: 32px;
    background-position: 0 -4352px;
}

.frostfireblade {
    height: 32px;
    width: 32px;
    background-position: 0 -4384px;
}

.frenzywand {
    height: 32px;
    width: 32px;
    background-position: 0 -4416px;
}

.frostfirecrystal {
    height: 32px;
    width: 32px;
    background-position: 0 -4448px;
}

.frostfiregloves {
    height: 32px;
    width: 32px;
    background-position: 0 -4480px;
}

.frostfiregauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -4512px;
}

.frenzytip {
    height: 32px;
    width: 32px;
    background-position: 0 -4544px;
}

.freezingbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -4576px;
}

.forsetiaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -4608px;
}

.freezingward {
    height: 32px;
    width: 32px;
    background-position: 0 -4640px;
}

.frenzyclub {
    height: 32px;
    width: 32px;
    background-position: 0 -4672px;
}

.frenzyaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -4704px;
}

.frozengrip {
    height: 32px;
    width: 32px;
    background-position: 0 -4736px;
}

.frozengreathelm {
    height: 32px;
    width: 32px;
    background-position: 0 -4768px;
}

.frozenharp {
    height: 32px;
    width: 32px;
    background-position: 0 -4800px;
}

.fullplate {
    height: 32px;
    width: 32px;
    background-position: 0 -4832px;
}

.fullhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -4864px;
}

.frozencore {
    height: 32px;
    width: 32px;
    background-position: 0 -4896px;
}

.frostfireshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -4928px;
}

.frostfirehelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -4960px;
}

.frostfiretalisman {
    height: 32px;
    width: 32px;
    background-position: 0 -4992px;
}

.frozenconescroll {
    height: 32px;
    width: 32px;
    background-position: 0 -5024px;
}

.frostsabatons {
    height: 32px;
    width: 32px;
    background-position: 0 -5056px;
}

.forester {
    height: 32px;
    width: 32px;
    background-position: 0 -5088px;
}

.fireshot {
    height: 32px;
    width: 32px;
    background-position: 0 -5120px;
}

.firerod {
    height: 32px;
    width: 32px;
    background-position: 0 -5152px;
}

.firesmashers {
    height: 32px;
    width: 32px;
    background-position: 0 -5184px;
}

.firewalkers {
    height: 32px;
    width: 32px;
    background-position: 0 -5216px;
}

.firevoulge {
    height: 32px;
    width: 32px;
    background-position: 0 -5248px;
}

.fireproofmitts {
    height: 32px;
    width: 32px;
    background-position: 0 -5280px;
}

.firedragoncharm {
    height: 32px;
    width: 32px;
    background-position: 0 -5312px;
}

.fireblade {
    height: 32px;
    width: 32px;
    background-position: 0 -5344px;
}

.firegun {
    height: 32px;
    width: 32px;
    background-position: 0 -5376px;
}

.fireproof {
    height: 32px;
    width: 32px;
    background-position: 0 -5408px;
}

.firemoss {
    height: 32px;
    width: 32px;
    background-position: 0 -5440px;
}

.flintlock {
    height: 32px;
    width: 32px;
    background-position: 0 -5472px;
}

.flaminghands {
    height: 32px;
    width: 32px;
    background-position: 0 -5504px;
}

.floatingslippers {
    height: 32px;
    width: 32px;
    background-position: 0 -5536px;
}

.flyingguillotine {
    height: 32px;
    width: 32px;
    background-position: 0 -5568px;
}

.floralmedley {
    height: 32px;
    width: 32px;
    background-position: 0 -5600px;
}

.flamemissile {
    height: 32px;
    width: 32px;
    background-position: 0 -5632px;
}

.fireworks {
    height: 32px;
    width: 32px;
    background-position: 0 -5664px;
}

.firewallscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -5696px;
}

.fishingspear {
    height: 32px;
    width: 32px;
    background-position: 0 -5728px;
}

.flamegreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -5760px;
}

.flamecharm {
    height: 32px;
    width: 32px;
    background-position: 0 -5792px;
}
