.magicshuriken {
    height: 32px;
    width: 32px;
    background-position: 0 0;
}

.magicriders {
    height: 32px;
    width: 32px;
    background-position: 0 -32px;
}

.magictop {
    height: 32px;
    width: 32px;
    background-position: 0 -64px;
}

.mantle {
    height: 32px;
    width: 32px;
    background-position: 0 -96px;
}

.mailbreaker {
    height: 32px;
    width: 32px;
    background-position: 0 -128px;
}

.magiciancloak {
    height: 32px;
    width: 32px;
    background-position: 0 -160px;
}

.magicalcodex {
    height: 32px;
    width: 32px;
    background-position: 0 -192px;
}

.magerobe {
    height: 32px;
    width: 32px;
    background-position: 0 -224px;
}

.magicarmor {
    height: 32px;
    width: 32px;
    background-position: 0 -256px;
}

.magicbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -288px;
}

.magicbeanstalk {
    height: 32px;
    width: 32px;
    background-position: 0 -320px;
}

.medusashield {
    height: 32px;
    width: 32px;
    background-position: 0 -352px;
}

.medalofchampions {
    height: 32px;
    width: 32px;
    background-position: 0 -384px;
}

.megalixir {
    height: 32px;
    width: 32px;
    background-position: 0 -416px;
}

.meshedgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -448px;
}

.mercurial {
    height: 32px;
    width: 32px;
    background-position: 0 -480px;
}

.meatshield {
    height: 32px;
    width: 32px;
    background-position: 0 -512px;
}

.maplespear {
    height: 32px;
    width: 32px;
    background-position: 0 -544px;
}

.maplepotion {
    height: 32px;
    width: 32px;
    background-position: 0 -576px;
}

.maplestaff {
    height: 32px;
    width: 32px;
    background-position: 0 -608px;
}

.maul {
    height: 32px;
    width: 32px;
    background-position: 0 -640px;
}

.masamune {
    height: 32px;
    width: 32px;
    background-position: 0 -672px;
}

.magedoublet {
    height: 32px;
    width: 32px;
    background-position: 0 -704px;
}

.loveseeker {
    height: 32px;
    width: 32px;
    background-position: 0 -736px;
}

.lordshauberk {
    height: 32px;
    width: 32px;
    background-position: 0 -768px;
}

.lovesplash {
    height: 32px;
    width: 32px;
    background-position: 0 -800px;
}

.lubuwarhelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -832px;
}

.lovestruck {
    height: 32px;
    width: 32px;
    background-position: 0 -864px;
}

.lordsboots {
    height: 32px;
    width: 32px;
    background-position: 0 -896px;
}

.longmail {
    height: 32px;
    width: 32px;
    background-position: 0 -928px;
}

.longgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -960px;
}

.longmusket {
    height: 32px;
    width: 32px;
    background-position: 0 -992px;
}

.lordgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -1024px;
}

.longsword {
    height: 32px;
    width: 32px;
    background-position: 0 -1056px;
}

.mace {
    height: 32px;
    width: 32px;
    background-position: 0 -1088px;
}

.macaronshield {
    height: 32px;
    width: 32px;
    background-position: 0 -1120px;
}

.macuahuitl {
    height: 32px;
    width: 32px;
    background-position: 0 -1152px;
}

.magebracers {
    height: 32px;
    width: 32px;
    background-position: 0 -1184px;
}

.mageboots {
    height: 32px;
    width: 32px;
    background-position: 0 -1216px;
}

.lycanslayer {
    height: 32px;
    width: 32px;
    background-position: 0 -1248px;
}

.luna {
    height: 32px;
    width: 32px;
    background-position: 0 -1280px;
}

.luckyclover {
    height: 32px;
    width: 32px;
    background-position: 0 -1312px;
}

.lunacharm {
    height: 32px;
    width: 32px;
    background-position: 0 -1344px;
}

.lute {
    height: 32px;
    width: 32px;
    background-position: 0 -1376px;
}

.lunarod {
    height: 32px;
    width: 32px;
    background-position: 0 -1408px;
}

.metalboomerang {
    height: 32px;
    width: 32px;
    background-position: 0 -1440px;
}

.nethercrown {
    height: 32px;
    width: 32px;
    background-position: 0 -1472px;
}

.necrostaff {
    height: 32px;
    width: 32px;
    background-position: 0 -1504px;
}

.nethergloves {
    height: 32px;
    width: 32px;
    background-position: 0 -1536px;
}

.nightmarecape {
    height: 32px;
    width: 32px;
    background-position: 0 -1568px;
}

.nightingale {
    height: 32px;
    width: 32px;
    background-position: 0 -1600px;
}

.naughtyandnice {
    height: 32px;
    width: 32px;
    background-position: 0 -1632px;
}

.mysticrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -1664px;
}

.mysticring {
    height: 32px;
    width: 32px;
    background-position: 0 -1696px;
}

.mysticscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -1728px;
}

.natureswrath {
    height: 32px;
    width: 32px;
    background-position: 0 -1760px;
}

.mysticstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -1792px;
}

.nobleplate {
    height: 32px;
    width: 32px;
    background-position: 0 -1824px;
}

.njordscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -1856px;
}

.nobleshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -1888px;
}

.nordicwarfare {
    height: 32px;
    width: 32px;
    background-position: 0 -1920px;
}

.nordiclute {
    height: 32px;
    width: 32px;
    background-position: 0 -1952px;
}

.nimblering {
    height: 32px;
    width: 32px;
    background-position: 0 -1984px;
}

.nightspike {
    height: 32px;
    width: 32px;
    background-position: 0 -2016px;
}

.nightshiv {
    height: 32px;
    width: 32px;
    background-position: 0 -2048px;
}

.nightstalkergloves {
    height: 32px;
    width: 32px;
    background-position: 0 -2080px;
}

.nightwalker {
    height: 32px;
    width: 32px;
    background-position: 0 -2112px;
}

.nightstar {
    height: 32px;
    width: 32px;
    background-position: 0 -2144px;
}

.mysticpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -2176px;
}

.moonlightcap {
    height: 32px;
    width: 32px;
    background-position: 0 -2208px;
}

.moonboots {
    height: 32px;
    width: 32px;
    background-position: 0 -2240px;
}

.moonlightgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -2272px;
}

.moonplate {
    height: 32px;
    width: 32px;
    background-position: 0 -2304px;
}

.moonlightshield {
    height: 32px;
    width: 32px;
    background-position: 0 -2336px;
}

.monkshat {
    height: 32px;
    width: 32px;
    background-position: 0 -2368px;
}

.midasring {
    height: 32px;
    width: 32px;
    background-position: 0 -2400px;
}

.midasglove {
    height: 32px;
    width: 32px;
    background-position: 0 -2432px;
}

.militarytap {
    height: 32px;
    width: 32px;
    background-position: 0 -2464px;
}

.mistletoe {
    height: 32px;
    width: 32px;
    background-position: 0 -2496px;
}

.mistilteinn {
    height: 32px;
    width: 32px;
    background-position: 0 -2528px;
}

.musket {
    height: 32px;
    width: 32px;
    background-position: 0 -2560px;
}

.mummyhands {
    height: 32px;
    width: 32px;
    background-position: 0 -2592px;
}

.mutedcaster {
    height: 32px;
    width: 32px;
    background-position: 0 -2624px;
}

.mysticgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -2656px;
}

.mysticflower {
    height: 32px;
    width: 32px;
    background-position: 0 -2688px;
}

.mothernature {
    height: 32px;
    width: 32px;
    background-position: 0 -2720px;
}

.moonstonering {
    height: 32px;
    width: 32px;
    background-position: 0 -2752px;
}

.moonshard {
    height: 32px;
    width: 32px;
    background-position: 0 -2784px;
}

.moonvoulge {
    height: 32px;
    width: 32px;
    background-position: 0 -2816px;
}

.morningstar {
    height: 32px;
    width: 32px;
    background-position: 0 -2848px;
}

.moonwalkers {
    height: 32px;
    width: 32px;
    background-position: 0 -2880px;
}

.jadedblade {
    height: 32px;
    width: 32px;
    background-position: 0 -2912px;
}

.jadeamulet {
    height: 32px;
    width: 32px;
    background-position: 0 -2944px;
}

.jadedmask {
    height: 32px;
    width: 32px;
    background-position: 0 -2976px;
}

.jaggedgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -3008px;
}

.jaggedcrown {
    height: 32px;
    width: 32px;
    background-position: 0 -3040px;
}

.jacksbrew {
    height: 32px;
    width: 32px;
    background-position: 0 -3072px;
}

.ironspear {
    height: 32px;
    width: 32px;
    background-position: 0 -3104px;
}

.ironhelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -3136px;
}

.ironwood {
    height: 32px;
    width: 32px;
    background-position: 0 -3168px;
}

.jackit {
    height: 32px;
    width: 32px;
    background-position: 0 -3200px;
}

.itztopilli {
    height: 32px;
    width: 32px;
    background-position: 0 -3232px;
}

.judgement {
    height: 32px;
    width: 32px;
    background-position: 0 -3264px;
}

.journeymace {
    height: 32px;
    width: 32px;
    background-position: 0 -3296px;
}

.jungleboots {
    height: 32px;
    width: 32px;
    background-position: 0 -3328px;
}

.key_chest_dwarvish {
    height: 32px;
    width: 32px;
    background-position: 0 -3360px;
}

.kaiken {
    height: 32px;
    width: 32px;
    background-position: 0 -3392px;
}

.joroucrown {
    height: 32px;
    width: 32px;
    background-position: 0 -3424px;
}

.jaguarhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -3456px;
}

.jaggedspike {
    height: 32px;
    width: 32px;
    background-position: 0 -3488px;
}

.javelin {
    height: 32px;
    width: 32px;
    background-position: 0 -3520px;
}

.jewelring {
    height: 32px;
    width: 32px;
    background-position: 0 -3552px;
}

.jeweledhat {
    height: 32px;
    width: 32px;
    background-position: 0 -3584px;
}

.ironflute {
    height: 32px;
    width: 32px;
    background-position: 0 -3616px;
}

.imperialsandals {
    height: 32px;
    width: 32px;
    background-position: 0 -3648px;
}

.imperialmantle {
    height: 32px;
    width: 32px;
    background-position: 0 -3680px;
}

.infantryhelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -3712px;
}

.infernalrage {
    height: 32px;
    width: 32px;
    background-position: 0 -3744px;
}

.infernalhorn {
    height: 32px;
    width: 32px;
    background-position: 0 -3776px;
}

.imperialedict {
    height: 32px;
    width: 32px;
    background-position: 0 -3808px;
}

.icestaff {
    height: 32px;
    width: 32px;
    background-position: 0 -3840px;
}

.icecloak {
    height: 32px;
    width: 32px;
    background-position: 0 -3872px;
}

.icewalkers {
    height: 32px;
    width: 32px;
    background-position: 0 -3904px;
}

.impaler {
    height: 32px;
    width: 32px;
    background-position: 0 -3936px;
}

.immortalpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -3968px;
}

.ironaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -4000px;
}

.invisibilityscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -4032px;
}

.ironband {
    height: 32px;
    width: 32px;
    background-position: 0 -4064px;
}

.ironcarapace {
    height: 32px;
    width: 32px;
    background-position: 0 -4096px;
}

.ironcap {
    height: 32px;
    width: 32px;
    background-position: 0 -4128px;
}

.invincibilitypotion {
    height: 32px;
    width: 32px;
    background-position: 0 -4160px;
}

.initiateslance {
    height: 32px;
    width: 32px;
    background-position: 0 -4192px;
}

.infinityring {
    height: 32px;
    width: 32px;
    background-position: 0 -4224px;
}

.initiatesreaver {
    height: 32px;
    width: 32px;
    background-position: 0 -4256px;
}

.initiatesstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -4288px;
}

.initiatessmasher {
    height: 32px;
    width: 32px;
    background-position: 0 -4320px;
}

.key_chest_gold {
    height: 32px;
    width: 32px;
    background-position: 0 -4352px;
}

.lichheart {
    height: 32px;
    width: 32px;
    background-position: 0 -4384px;
}

.legionsandals {
    height: 32px;
    width: 32px;
    background-position: 0 -4416px;
}

.lifepotion {
    height: 32px;
    width: 32px;
    background-position: 0 -4448px;
}

.lifevest {
    height: 32px;
    width: 32px;
    background-position: 0 -4480px;
}

.lifestealer {
    height: 32px;
    width: 32px;
    background-position: 0 -4512px;
}

.leathervest {
    height: 32px;
    width: 32px;
    background-position: 0 -4544px;
}

.layeredarmor {
    height: 32px;
    width: 32px;
    background-position: 0 -4576px;
}

.lavaaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -4608px;
}

.leatherbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -4640px;
}

.leathershoes {
    height: 32px;
    width: 32px;
    background-position: 0 -4672px;
}

.leathercuirass {
    height: 32px;
    width: 32px;
    background-position: 0 -4704px;
}

.lionstail {
    height: 32px;
    width: 32px;
    background-position: 0 -4736px;
}

.lionmace {
    height: 32px;
    width: 32px;
    background-position: 0 -4768px;
}

.lokismask {
    height: 32px;
    width: 32px;
    background-position: 0 -4800px;
}

.longflute {
    height: 32px;
    width: 32px;
    background-position: 0 -4832px;
}

.longbow {
    height: 32px;
    width: 32px;
    background-position: 0 -4864px;
}

.lionboots {
    height: 32px;
    width: 32px;
    background-position: 0 -4896px;
}

.lightboots {
    height: 32px;
    width: 32px;
    background-position: 0 -4928px;
}

.lightboomerang {
    height: 32px;
    width: 32px;
    background-position: 0 -4960px;
}

.lightgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -4992px;
}

.lightvisage {
    height: 32px;
    width: 32px;
    background-position: 0 -5024px;
}

.lightningscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -5056px;
}

.lapinshoes {
    height: 32px;
    width: 32px;
    background-position: 0 -5088px;
}

.kiteshield {
    height: 32px;
    width: 32px;
    background-position: 0 -5120px;
}

.kingsgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -5152px;
}

.knife {
    height: 32px;
    width: 32px;
    background-position: 0 -5184px;
}

.knightsfullhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -5216px;
}

.knightriders {
    height: 32px;
    width: 32px;
    background-position: 0 -5248px;
}

.kingboots {
    height: 32px;
    width: 32px;
    background-position: 0 -5280px;
}

.key_chest_leather {
    height: 32px;
    width: 32px;
    background-position: 0 -5312px;
}

.key_chest_iron {
    height: 32px;
    width: 32px;
    background-position: 0 -5344px;
}

.key_chest_magic {
    height: 32px;
    width: 32px;
    background-position: 0 -5376px;
}

.key_chest_wood {
    height: 32px;
    width: 32px;
    background-position: 0 -5408px;
}

.key_chest_primal {
    height: 32px;
    width: 32px;
    background-position: 0 -5440px;
}

.lapinhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -5472px;
}

.lapinharp {
    height: 32px;
    width: 32px;
    background-position: 0 -5504px;
}

.lapinpendent {
    height: 32px;
    width: 32px;
    background-position: 0 -5536px;
}

.lapinshield {
    height: 32px;
    width: 32px;
    background-position: 0 -5568px;
}

.lapinpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -5600px;
}

.lance {
    height: 32px;
    width: 32px;
    background-position: 0 -5632px;
}

.knightsroundshield {
    height: 32px;
    width: 32px;
    background-position: 0 -5664px;
}

.knightslance {
    height: 32px;
    width: 32px;
    background-position: 0 -5696px;
}

.kris {
    height: 32px;
    width: 32px;
    background-position: 0 -5728px;
}

.labrys {
    height: 32px;
    width: 32px;
    background-position: 0 -5760px;
}

.kunai {
    height: 32px;
    width: 32px;
    background-position: 0 -5792px;
}
