.shortbow {
    height: 32px;
    width: 32px;
    background-position: 0 0;
}

.shortsword {
    height: 32px;
    width: 32px;
    background-position: 0 -32px;
}

.shockers {
    height: 32px;
    width: 32px;
    background-position: 0 -64px;
}

.shoes {
    height: 32px;
    width: 32px;
    background-position: 0 -96px;
}

.silentarbalest {
    height: 32px;
    width: 32px;
    background-position: 0 -128px;
}

.silentbutdeadly {
    height: 32px;
    width: 32px;
    background-position: 0 -160px;
}

.shredder {
    height: 32px;
    width: 32px;
    background-position: 0 -192px;
}

.shuriken {
    height: 32px;
    width: 32px;
    background-position: 0 -224px;
}

.shockdarts {
    height: 32px;
    width: 32px;
    background-position: 0 -256px;
}

.shimmeringrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -288px;
}

.shinai {
    height: 32px;
    width: 32px;
    background-position: 0 -320px;
}

.shieldingseal {
    height: 32px;
    width: 32px;
    background-position: 0 -352px;
}

.shieldingward {
    height: 32px;
    width: 32px;
    background-position: 0 -384px;
}

.shinygem {
    height: 32px;
    width: 32px;
    background-position: 0 -416px;
}

.shinypendant {
    height: 32px;
    width: 32px;
    background-position: 0 -448px;
}

.shiningarmor {
    height: 32px;
    width: 32px;
    background-position: 0 -480px;
}

.shiningaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -512px;
}

.silkrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -544px;
}

.sinistergaze {
    height: 32px;
    width: 32px;
    background-position: 0 -576px;
}

.sixshooter {
    height: 32px;
    width: 32px;
    background-position: 0 -608px;
}

.silversteel {
    height: 32px;
    width: 32px;
    background-position: 0 -640px;
}

.singingchakram {
    height: 32px;
    width: 32px;
    background-position: 0 -672px;
}

.skeletonring {
    height: 32px;
    width: 32px;
    background-position: 0 -704px;
}

.skeletonshield {
    height: 32px;
    width: 32px;
    background-position: 0 -736px;
}

.skadischarm {
    height: 32px;
    width: 32px;
    background-position: 0 -768px;
}

.skadistiara {
    height: 32px;
    width: 32px;
    background-position: 0 -800px;
}

.silverhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -832px;
}

.silverdirk {
    height: 32px;
    width: 32px;
    background-position: 0 -864px;
}

.silveredflute {
    height: 32px;
    width: 32px;
    background-position: 0 -896px;
}

.silveraxe {
    height: 32px;
    width: 32px;
    background-position: 0 -928px;
}

.silvercrown {
    height: 32px;
    width: 32px;
    background-position: 0 -960px;
}

.silverfork {
    height: 32px;
    width: 32px;
    background-position: 0 -992px;
}

.silvergauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -1024px;
}

.silveredgreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -1056px;
}

.silveredscales {
    height: 32px;
    width: 32px;
    background-position: 0 -1088px;
}

.shieldbreaker {
    height: 32px;
    width: 32px;
    background-position: 0 -1120px;
}

.seedofmagic {
    height: 32px;
    width: 32px;
    background-position: 0 -1152px;
}

.seedofpower {
    height: 32px;
    width: 32px;
    background-position: 0 -1184px;
}

.sealofpower {
    height: 32px;
    width: 32px;
    background-position: 0 -1216px;
}

.seedofagility {
    height: 32px;
    width: 32px;
    background-position: 0 -1248px;
}

.seekingtip {
    height: 32px;
    width: 32px;
    background-position: 0 -1280px;
}

.seergem {
    height: 32px;
    width: 32px;
    background-position: 0 -1312px;
}

.seedofstrength {
    height: 32px;
    width: 32px;
    background-position: 0 -1344px;
}

.seekingkunai {
    height: 32px;
    width: 32px;
    background-position: 0 -1376px;
}

.sealofevil {
    height: 32px;
    width: 32px;
    background-position: 0 -1408px;
}

.scorpiontail {
    height: 32px;
    width: 32px;
    background-position: 0 -1440px;
}

.scrollofpossession {
    height: 32px;
    width: 32px;
    background-position: 0 -1472px;
}

.scarletdrop {
    height: 32px;
    width: 32px;
    background-position: 0 -1504px;
}

.scimitar {
    height: 32px;
    width: 32px;
    background-position: 0 -1536px;
}

.sealofdeflection {
    height: 32px;
    width: 32px;
    background-position: 0 -1568px;
}

.sealofdexterity {
    height: 32px;
    width: 32px;
    background-position: 0 -1600px;
}

.scrollofreturn {
    height: 32px;
    width: 32px;
    background-position: 0 -1632px;
}

.sealofdarkness {
    height: 32px;
    width: 32px;
    background-position: 0 -1664px;
}

.selfloader {
    height: 32px;
    width: 32px;
    background-position: 0 -1696px;
}

.shardofgaia {
    height: 32px;
    width: 32px;
    background-position: 0 -1728px;
}

.sharkbite {
    height: 32px;
    width: 32px;
    background-position: 0 -1760px;
}

.shadowripper {
    height: 32px;
    width: 32px;
    background-position: 0 -1792px;
}

.shamisen {
    height: 32px;
    width: 32px;
    background-position: 0 -1824px;
}

.shatteringcore {
    height: 32px;
    width: 32px;
    background-position: 0 -1856px;
}

.shieldbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -1888px;
}

.sharptusk {
    height: 32px;
    width: 32px;
    background-position: 0 -1920px;
}

.shatteredwand {
    height: 32px;
    width: 32px;
    background-position: 0 -1952px;
}

.shadowmark {
    height: 32px;
    width: 32px;
    background-position: 0 -1984px;
}

.serpentvenom {
    height: 32px;
    width: 32px;
    background-position: 0 -2016px;
}

.sevenstars {
    height: 32px;
    width: 32px;
    background-position: 0 -2048px;
}

.serpentdarts {
    height: 32px;
    width: 32px;
    background-position: 0 -2080px;
}

.serpentshooter {
    height: 32px;
    width: 32px;
    background-position: 0 -2112px;
}

.shadowhood {
    height: 32px;
    width: 32px;
    background-position: 0 -2144px;
}

.shadowlurker {
    height: 32px;
    width: 32px;
    background-position: 0 -2176px;
}

.shadowaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -2208px;
}

.shadowedgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -2240px;
}

.steelaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -2272px;
}

.steelcuirass {
    height: 32px;
    width: 32px;
    background-position: 0 -2304px;
}

.stealthapparel {
    height: 32px;
    width: 32px;
    background-position: 0 -2336px;
}

.steelarang {
    height: 32px;
    width: 32px;
    background-position: 0 -2368px;
}

.steelvambrace {
    height: 32px;
    width: 32px;
    background-position: 0 -2400px;
}

.stiletto {
    height: 32px;
    width: 32px;
    background-position: 0 -2432px;
}

.steeledclub {
    height: 32px;
    width: 32px;
    background-position: 0 -2464px;
}

.steeltoeboots {
    height: 32px;
    width: 32px;
    background-position: 0 -2496px;
}

.starwand {
    height: 32px;
    width: 32px;
    background-position: 0 -2528px;
}

.starfrostpendant {
    height: 32px;
    width: 32px;
    background-position: 0 -2560px;
}

.starfrostplatemail {
    height: 32px;
    width: 32px;
    background-position: 0 -2592px;
}

.starfrostdivider {
    height: 32px;
    width: 32px;
    background-position: 0 -2624px;
}

.starfrostimpaler {
    height: 32px;
    width: 32px;
    background-position: 0 -2656px;
}

.starring {
    height: 32px;
    width: 32px;
    background-position: 0 -2688px;
}

.starshield {
    height: 32px;
    width: 32px;
    background-position: 0 -2720px;
}

.starfrostskates {
    height: 32px;
    width: 32px;
    background-position: 0 -2752px;
}

.stargloves {
    height: 32px;
    width: 32px;
    background-position: 0 -2784px;
}

.stinkingcloudscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -2816px;
}

.sunriserobe {
    height: 32px;
    width: 32px;
    background-position: 0 -2848px;
}

.sunsetter {
    height: 32px;
    width: 32px;
    background-position: 0 -2880px;
}

.sunflowershield {
    height: 32px;
    width: 32px;
    background-position: 0 -2912px;
}

.sunking {
    height: 32px;
    width: 32px;
    background-position: 0 -2944px;
}

.swimmingfins {
    height: 32px;
    width: 32px;
    background-position: 0 -2976px;
}

.switchblade {
    height: 32px;
    width: 32px;
    background-position: 0 -3008px;
}

.suntear {
    height: 32px;
    width: 32px;
    background-position: 0 -3040px;
}

.sweetsurprise {
    height: 32px;
    width: 32px;
    background-position: 0 -3072px;
}

.summoningflute {
    height: 32px;
    width: 32px;
    background-position: 0 -3104px;
}

.stormbringer {
    height: 32px;
    width: 32px;
    background-position: 0 -3136px;
}

.stormsplitter {
    height: 32px;
    width: 32px;
    background-position: 0 -3168px;
}

.stormapparel {
    height: 32px;
    width: 32px;
    background-position: 0 -3200px;
}

.stormbasher {
    height: 32px;
    width: 32px;
    background-position: 0 -3232px;
}

.subzero3000 {
    height: 32px;
    width: 32px;
    background-position: 0 -3264px;
}

.sugarrushtea {
    height: 32px;
    width: 32px;
    background-position: 0 -3296px;
}

.strappedleather {
    height: 32px;
    width: 32px;
    background-position: 0 -3328px;
}

.studdedleather {
    height: 32px;
    width: 32px;
    background-position: 0 -3360px;
}

.starfrostbloom {
    height: 32px;
    width: 32px;
    background-position: 0 -3392px;
}

.smallmanapotion {
    height: 32px;
    width: 32px;
    background-position: 0 -3424px;
}

.smallshield {
    height: 32px;
    width: 32px;
    background-position: 0 -3456px;
}

.smalldrum {
    height: 32px;
    width: 32px;
    background-position: 0 -3488px;
}

.smallhealthpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -3520px;
}

.snowbunny {
    height: 32px;
    width: 32px;
    background-position: 0 -3552px;
}

.softhealingmix {
    height: 32px;
    width: 32px;
    background-position: 0 -3584px;
}

.smokebomb {
    height: 32px;
    width: 32px;
    background-position: 0 -3616px;
}

.snakeheaddress {
    height: 32px;
    width: 32px;
    background-position: 0 -3648px;
}

.sling {
    height: 32px;
    width: 32px;
    background-position: 0 -3680px;
}

.skullstompers {
    height: 32px;
    width: 32px;
    background-position: 0 -3712px;
}

.slashingtiger {
    height: 32px;
    width: 32px;
    background-position: 0 -3744px;
}

.skeletonward {
    height: 32px;
    width: 32px;
    background-position: 0 -3776px;
}

.skofnung {
    height: 32px;
    width: 32px;
    background-position: 0 -3808px;
}

.sleepingshroom {
    height: 32px;
    width: 32px;
    background-position: 0 -3840px;
}

.sleepingtotem {
    height: 32px;
    width: 32px;
    background-position: 0 -3872px;
}

.sledgehammer {
    height: 32px;
    width: 32px;
    background-position: 0 -3904px;
}

.sleepingbomb {
    height: 32px;
    width: 32px;
    background-position: 0 -3936px;
}

.soldiersmark {
    height: 32px;
    width: 32px;
    background-position: 0 -3968px;
}

.spiritfire {
    height: 32px;
    width: 32px;
    background-position: 0 -4000px;
}

.sproutstaff {
    height: 32px;
    width: 32px;
    background-position: 0 -4032px;
}

.spikedclub {
    height: 32px;
    width: 32px;
    background-position: 0 -4064px;
}

.spikedshield {
    height: 32px;
    width: 32px;
    background-position: 0 -4096px;
}

.stakeshooter {
    height: 32px;
    width: 32px;
    background-position: 0 -4128px;
}

.starfall {
    height: 32px;
    width: 32px;
    background-position: 0 -4160px;
}

.squashbomb {
    height: 32px;
    width: 32px;
    background-position: 0 -4192px;
}

.staffofages {
    height: 32px;
    width: 32px;
    background-position: 0 -4224px;
}

.spider {
    height: 32px;
    width: 32px;
    background-position: 0 -4256px;
}

.sorcerersbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -4288px;
}

.souleater {
    height: 32px;
    width: 32px;
    background-position: 0 -4320px;
}

.soothingharp {
    height: 32px;
    width: 32px;
    background-position: 0 -4352px;
}

.sorcererrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -4384px;
}

.spade {
    height: 32px;
    width: 32px;
    background-position: 0 -4416px;
}

.spatula {
    height: 32px;
    width: 32px;
    background-position: 0 -4448px;
}

.soulleecher {
    height: 32px;
    width: 32px;
    background-position: 0 -4480px;
}

.soulstealer {
    height: 32px;
    width: 32px;
    background-position: 0 -4512px;
}

.scarletcoif {
    height: 32px;
    width: 32px;
    background-position: 0 -4544px;
}

.plumedloafers {
    height: 32px;
    width: 32px;
    background-position: 0 -4576px;
}

.pocketpistol {
    height: 32px;
    width: 32px;
    background-position: 0 -4608px;
}

.plateofthewhale {
    height: 32px;
    width: 32px;
    background-position: 0 -4640px;
}

.plumedhat {
    height: 32px;
    width: 32px;
    background-position: 0 -4672px;
}

.poisonstuds {
    height: 32px;
    width: 32px;
    background-position: 0 -4704px;
}

.poisontip {
    height: 32px;
    width: 32px;
    background-position: 0 -4736px;
}

.poisondarts {
    height: 32px;
    width: 32px;
    background-position: 0 -4768px;
}

.poisonneedles {
    height: 32px;
    width: 32px;
    background-position: 0 -4800px;
}

.platedleather {
    height: 32px;
    width: 32px;
    background-position: 0 -4832px;
}

.piratesbrew {
    height: 32px;
    width: 32px;
    background-position: 0 -4864px;
}

.pistol {
    height: 32px;
    width: 32px;
    background-position: 0 -4896px;
}

.pirateleathers {
    height: 32px;
    width: 32px;
    background-position: 0 -4928px;
}

.piratepistol {
    height: 32px;
    width: 32px;
    background-position: 0 -4960px;
}

.plasmicrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -4992px;
}

.platedboots {
    height: 32px;
    width: 32px;
    background-position: 0 -5024px;
}

.pitchfork {
    height: 32px;
    width: 32px;
    background-position: 0 -5056px;
}

.planeswalkers {
    height: 32px;
    width: 32px;
    background-position: 0 -5088px;
}

.poleaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -5120px;
}

.protectionpendant {
    height: 32px;
    width: 32px;
    background-position: 0 -5152px;
}

.protector {
    height: 32px;
    width: 32px;
    background-position: 0 -5184px;
}

.primordialhorn {
    height: 32px;
    width: 32px;
    background-position: 0 -5216px;
}

.protectiondust {
    height: 32px;
    width: 32px;
    background-position: 0 -5248px;
}

.pulverizer {
    height: 32px;
    width: 32px;
    background-position: 0 -5280px;
}

.pumpkinhead {
    height: 32px;
    width: 32px;
    background-position: 0 -5312px;
}

.protectorgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -5344px;
}

.protoskates {
    height: 32px;
    width: 32px;
    background-position: 0 -5376px;
}

.primalsmasher {
    height: 32px;
    width: 32px;
    background-position: 0 -5408px;
}

.powertrident {
    height: 32px;
    width: 32px;
    background-position: 0 -5440px;
}

.prayerring {
    height: 32px;
    width: 32px;
    background-position: 0 -5472px;
}

.potionofspeed {
    height: 32px;
    width: 32px;
    background-position: 0 -5504px;
}

.potionofstrength {
    height: 32px;
    width: 32px;
    background-position: 0 -5536px;
}

.primaldagger {
    height: 32px;
    width: 32px;
    background-position: 0 -5568px;
}

.primalleather {
    height: 32px;
    width: 32px;
    background-position: 0 -5600px;
}

.primalcharm {
    height: 32px;
    width: 32px;
    background-position: 0 -5632px;
}

.primalcompendium {
    height: 32px;
    width: 32px;
    background-position: 0 -5664px;
}

.pirategun {
    height: 32px;
    width: 32px;
    background-position: 0 -5696px;
}

.oracle {
    height: 32px;
    width: 32px;
    background-position: 0 -5728px;
}

.orientalvest {
    height: 32px;
    width: 32px;
    background-position: 0 -5760px;
}

.onimask {
    height: 32px;
    width: 32px;
    background-position: 0 -5792px;
}

.opalnecklace {
    height: 32px;
    width: 32px;
    background-position: 0 -5824px;
}

.paddedgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -5856px;
}

.paladinshelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -5888px;
}

.oud {
    height: 32px;
    width: 32px;
    background-position: 0 -5920px;
}

.ouroboros {
    height: 32px;
    width: 32px;
    background-position: 0 -5952px;
}

.oneshot {
    height: 32px;
    width: 32px;
    background-position: 0 -5984px;
}

.obsidiandagger {
    height: 32px;
    width: 32px;
    background-position: 0 -6016px;
}

.obsidianspear {
    height: 32px;
    width: 32px;
    background-position: 0 -6048px;
}

.obeliskcharm {
    height: 32px;
    width: 32px;
    background-position: 0 -6080px;
}

.obsidiancoral {
    height: 32px;
    width: 32px;
    background-position: 0 -6112px;
}

.oiledleather {
    height: 32px;
    width: 32px;
    background-position: 0 -6144px;
}

.ominouscharm {
    height: 32px;
    width: 32px;
    background-position: 0 -6176px;
}

.occulthood {
    height: 32px;
    width: 32px;
    background-position: 0 -6208px;
}

.ogrebracers {
    height: 32px;
    width: 32px;
    background-position: 0 -6240px;
}

.panacea {
    height: 32px;
    width: 32px;
    background-position: 0 -6272px;
}

.phoenixhelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -6304px;
}

.phoenixtalon {
    height: 32px;
    width: 32px;
    background-position: 0 -6336px;
}

.phoenixdust {
    height: 32px;
    width: 32px;
    background-position: 0 -6368px;
}

.phoenixfeather {
    height: 32px;
    width: 32px;
    background-position: 0 -6400px;
}

.pike {
    height: 32px;
    width: 32px;
    background-position: 0 -6432px;
}

.pirateboots {
    height: 32px;
    width: 32px;
    background-position: 0 -6464px;
}

.piercingkunai {
    height: 32px;
    width: 32px;
    background-position: 0 -6496px;
}

.piercingshot {
    height: 32px;
    width: 32px;
    background-position: 0 -6528px;
}

.pharaohflail {
    height: 32px;
    width: 32px;
    background-position: 0 -6560px;
}

.parryingdagger {
    height: 32px;
    width: 32px;
    background-position: 0 -6592px;
}

.pathfinders {
    height: 32px;
    width: 32px;
    background-position: 0 -6624px;
}

.panflute {
    height: 32px;
    width: 32px;
    background-position: 0 -6656px;
}

.paralysistotem {
    height: 32px;
    width: 32px;
    background-position: 0 -6688px;
}

.phantomkatar {
    height: 32px;
    width: 32px;
    background-position: 0 -6720px;
}

.pharaohcrook {
    height: 32px;
    width: 32px;
    background-position: 0 -6752px;
}

.patriotboots {
    height: 32px;
    width: 32px;
    background-position: 0 -6784px;
}

.patriotjacket {
    height: 32px;
    width: 32px;
    background-position: 0 -6816px;
}

.ruinouscrusher {
    height: 32px;
    width: 32px;
    background-position: 0 -6848px;
}

.ruinouslance {
    height: 32px;
    width: 32px;
    background-position: 0 -6880px;
}

.royaltrumpet {
    height: 32px;
    width: 32px;
    background-position: 0 -6912px;
}

.royaluniform {
    height: 32px;
    width: 32px;
    background-position: 0 -6944px;
}

.runiccoif {
    height: 32px;
    width: 32px;
    background-position: 0 -6976px;
}

.runicgauntlets {
    height: 32px;
    width: 32px;
    background-position: 0 -7008px;
}

.ruinousscepter {
    height: 32px;
    width: 32px;
    background-position: 0 -7040px;
}

.ruinoustusk {
    height: 32px;
    width: 32px;
    background-position: 0 -7072px;
}

.royalscepter {
    height: 32px;
    width: 32px;
    background-position: 0 -7104px;
}

.royalbone {
    height: 32px;
    width: 32px;
    background-position: 0 -7136px;
}

.royalbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -7168px;
}

.robinshood {
    height: 32px;
    width: 32px;
    background-position: 0 -7200px;
}

.roguearmor {
    height: 32px;
    width: 32px;
    background-position: 0 -7232px;
}

.royalmantle {
    height: 32px;
    width: 32px;
    background-position: 0 -7264px;
}

.royalring {
    height: 32px;
    width: 32px;
    background-position: 0 -7296px;
}

.royalcuirass {
    height: 32px;
    width: 32px;
    background-position: 0 -7328px;
}

.royalgreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -7360px;
}

.runicmail {
    height: 32px;
    width: 32px;
    background-position: 0 -7392px;
}

.santasgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -7424px;
}

.santaslist {
    height: 32px;
    width: 32px;
    background-position: 0 -7456px;
}

.sakuramochi {
    height: 32px;
    width: 32px;
    background-position: 0 -7488px;
}

.sandals {
    height: 32px;
    width: 32px;
    background-position: 0 -7520px;
}

.scalemail {
    height: 32px;
    width: 32px;
    background-position: 0 -7552px;
}

.scarabshield {
    height: 32px;
    width: 32px;
    background-position: 0 -7584px;
}

.sawblade {
    height: 32px;
    width: 32px;
    background-position: 0 -7616px;
}

.scalehelm {
    height: 32px;
    width: 32px;
    background-position: 0 -7648px;
}

.sakurakimono {
    height: 32px;
    width: 32px;
    background-position: 0 -7680px;
}

.sabre {
    height: 32px;
    width: 32px;
    background-position: 0 -7712px;
}

.sacredscepter {
    height: 32px;
    width: 32px;
    background-position: 0 -7744px;
}

.runictiara {
    height: 32px;
    width: 32px;
    background-position: 0 -7776px;
}

.sabaton {
    height: 32px;
    width: 32px;
    background-position: 0 -7808px;
}

.sagesrobe {
    height: 32px;
    width: 32px;
    background-position: 0 -7840px;
}

.sakuraboots {
    height: 32px;
    width: 32px;
    background-position: 0 -7872px;
}

.sacredtunic {
    height: 32px;
    width: 32px;
    background-position: 0 -7904px;
}

.safarihat {
    height: 32px;
    width: 32px;
    background-position: 0 -7936px;
}

.robe {
    height: 32px;
    width: 32px;
    background-position: 0 -7968px;
}

.rebellion {
    height: 32px;
    width: 32px;
    background-position: 0 -8000px;
}

.rebirthrod {
    height: 32px;
    width: 32px;
    background-position: 0 -8032px;
}

.rayofgod {
    height: 32px;
    width: 32px;
    background-position: 0 -8064px;
}

.reaper {
    height: 32px;
    width: 32px;
    background-position: 0 -8096px;
}

.redmail {
    height: 32px;
    width: 32px;
    background-position: 0 -8128px;
}

.redtunic {
    height: 32px;
    width: 32px;
    background-position: 0 -8160px;
}

.recurvedbow {
    height: 32px;
    width: 32px;
    background-position: 0 -8192px;
}

.redboots {
    height: 32px;
    width: 32px;
    background-position: 0 -8224px;
}

.rapier {
    height: 32px;
    width: 32px;
    background-position: 0 -8256px;
}

.rabbitring {
    height: 32px;
    width: 32px;
    background-position: 0 -8288px;
}

.raccoonranger {
    height: 32px;
    width: 32px;
    background-position: 0 -8320px;
}

.pumpkinsmasher {
    height: 32px;
    width: 32px;
    background-position: 0 -8352px;
}

.quicksilver {
    height: 32px;
    width: 32px;
    background-position: 0 -8384px;
}

.rangershoes {
    height: 32px;
    width: 32px;
    background-position: 0 -8416px;
}

.rangervest {
    height: 32px;
    width: 32px;
    background-position: 0 -8448px;
}

.ragnaroksedge {
    height: 32px;
    width: 32px;
    background-position: 0 -8480px;
}

.rainbowdust {
    height: 32px;
    width: 32px;
    background-position: 0 -8512px;
}

.reflectiveshield {
    height: 32px;
    width: 32px;
    background-position: 0 -8544px;
}

.ringofluck {
    height: 32px;
    width: 32px;
    background-position: 0 -8576px;
}

.ringofpower {
    height: 32px;
    width: 32px;
    background-position: 0 -8608px;
}

.rifle {
    height: 32px;
    width: 32px;
    background-position: 0 -8640px;
}

.ringmail {
    height: 32px;
    width: 32px;
    background-position: 0 -8672px;
}

.risingtempest {
    height: 32px;
    width: 32px;
    background-position: 0 -8704px;
}

.ritualdjembe {
    height: 32px;
    width: 32px;
    background-position: 0 -8736px;
}

.ringoftruth {
    height: 32px;
    width: 32px;
    background-position: 0 -8768px;
}

.risingsun {
    height: 32px;
    width: 32px;
    background-position: 0 -8800px;
}

.ridersboots {
    height: 32px;
    width: 32px;
    background-position: 0 -8832px;
}

.rejuvenationtea {
    height: 32px;
    width: 32px;
    background-position: 0 -8864px;
}

.relicarquebus {
    height: 32px;
    width: 32px;
    background-position: 0 -8896px;
}

.refractorpanel {
    height: 32px;
    width: 32px;
    background-position: 0 -8928px;
}

.rejuvenationpotion {
    height: 32px;
    width: 32px;
    background-position: 0 -8960px;
}

.repeatercrossbow {
    height: 32px;
    width: 32px;
    background-position: 0 -8992px;
}

.resistanceband {
    height: 32px;
    width: 32px;
    background-position: 0 -9024px;
}

.relicblade {
    height: 32px;
    width: 32px;
    background-position: 0 -9056px;
}

.relichammer {
    height: 32px;
    width: 32px;
    background-position: 0 -9088px;
}
