.weddingring {
    height: 32px;
    width: 32px;
    background-position: 0 0;
}

.whisperingwand {
    height: 32px;
    width: 32px;
    background-position: 0 -32px;
}

.whitecrow {
    height: 32px;
    width: 32px;
    background-position: 0 -64px;
}

.warriorgreaves {
    height: 32px;
    width: 32px;
    background-position: 0 -96px;
}

.warriorshelmet {
    height: 32px;
    width: 32px;
    background-position: 0 -128px;
}

.weddingband {
    height: 32px;
    width: 32px;
    background-position: 0 -160px;
}

.whitedagger {
    height: 32px;
    width: 32px;
    background-position: 0 -192px;
}

.windcharm {
    height: 32px;
    width: 32px;
    background-position: 0 -224px;
}

.windpiercer {
    height: 32px;
    width: 32px;
    background-position: 0 -256px;
}

.windslicer {
    height: 32px;
    width: 32px;
    background-position: 0 -288px;
}

.whitesteelplate {
    height: 32px;
    width: 32px;
    background-position: 0 -320px;
}

.widowmaker {
    height: 32px;
    width: 32px;
    background-position: 0 -352px;
}

.wildlingboots {
    height: 32px;
    width: 32px;
    background-position: 0 -384px;
}

.vikinghelm {
    height: 32px;
    width: 32px;
    background-position: 0 -416px;
}

.vineslasher {
    height: 32px;
    width: 32px;
    background-position: 0 -448px;
}

.viperheaddress {
    height: 32px;
    width: 32px;
    background-position: 0 -480px;
}

.venomousbuckler {
    height: 32px;
    width: 32px;
    background-position: 0 -512px;
}

.venomoushands {
    height: 32px;
    width: 32px;
    background-position: 0 -544px;
}

.vialofrebirth {
    height: 32px;
    width: 32px;
    background-position: 0 -576px;
}

.vorpalsword {
    height: 32px;
    width: 32px;
    background-position: 0 -608px;
}

.waraxepistol {
    height: 32px;
    width: 32px;
    background-position: 0 -640px;
}

.wargavel {
    height: 32px;
    width: 32px;
    background-position: 0 -672px;
}

.warmingspray {
    height: 32px;
    width: 32px;
    background-position: 0 -704px;
}

.wakizashi {
    height: 32px;
    width: 32px;
    background-position: 0 -736px;
}

.walkingstick {
    height: 32px;
    width: 32px;
    background-position: 0 -768px;
}

.wandoftheforest {
    height: 32px;
    width: 32px;
    background-position: 0 -800px;
}

.wovenbracers {
    height: 32px;
    width: 32px;
    background-position: 0 -832px;
}

.wristguard {
    height: 32px;
    width: 32px;
    background-position: 0 -864px;
}

.wyrmhide {
    height: 32px;
    width: 32px;
    background-position: 0 -896px;
}

.woodenspear {
    height: 32px;
    width: 32px;
    background-position: 0 -928px;
}

.woodflute {
    height: 32px;
    width: 32px;
    background-position: 0 -960px;
}

.worldshakers {
    height: 32px;
    width: 32px;
    background-position: 0 -992px;
}

.wyrmhorn {
    height: 32px;
    width: 32px;
    background-position: 0 -1024px;
}

.yggdrasilleaf {
    height: 32px;
    width: 32px;
    background-position: 0 -1056px;
}

.yggflute {
    height: 32px;
    width: 32px;
    background-position: 0 -1088px;
}

.zweihander {
    height: 32px;
    width: 32px;
    background-position: 0 -1120px;
}

.wyvernaxe {
    height: 32px;
    width: 32px;
    background-position: 0 -1152px;
}

.wyvernplate {
    height: 32px;
    width: 32px;
    background-position: 0 -1184px;
}

.wyvernwing {
    height: 32px;
    width: 32px;
    background-position: 0 -1216px;
}

.wingedharp {
    height: 32px;
    width: 32px;
    background-position: 0 -1248px;
}

.wingedhelm {
    height: 32px;
    width: 32px;
    background-position: 0 -1280px;
}

.wingedsandals {
    height: 32px;
    width: 32px;
    background-position: 0 -1312px;
}

.windstriker {
    height: 32px;
    width: 32px;
    background-position: 0 -1344px;
}

.windwalkers {
    height: 32px;
    width: 32px;
    background-position: 0 -1376px;
}

.wingblade {
    height: 32px;
    width: 32px;
    background-position: 0 -1408px;
}

.wingedspear {
    height: 32px;
    width: 32px;
    background-position: 0 -1440px;
}

.wisdompotion {
    height: 32px;
    width: 32px;
    background-position: 0 -1472px;
}

.wisecap {
    height: 32px;
    width: 32px;
    background-position: 0 -1504px;
}

.wolfhide {
    height: 32px;
    width: 32px;
    background-position: 0 -1536px;
}

.wisdomgloves {
    height: 32px;
    width: 32px;
    background-position: 0 -1568px;
}

.wisdommark {
    height: 32px;
    width: 32px;
    background-position: 0 -1600px;
}

.wisdomocarina {
    height: 32px;
    width: 32px;
    background-position: 0 -1632px;
}

.venomblast {
    height: 32px;
    width: 32px;
    background-position: 0 -1664px;
}

.tiara {
    height: 32px;
    width: 32px;
    background-position: 0 -1696px;
}

.tidemaker {
    height: 32px;
    width: 32px;
    background-position: 0 -1728px;
}

.tigerseal {
    height: 32px;
    width: 32px;
    background-position: 0 -1760px;
}

.thundercrown {
    height: 32px;
    width: 32px;
    background-position: 0 -1792px;
}

.thundershot {
    height: 32px;
    width: 32px;
    background-position: 0 -1824px;
}

.tiamat {
    height: 32px;
    width: 32px;
    background-position: 0 -1856px;
}

.timelesslocket {
    height: 32px;
    width: 32px;
    background-position: 0 -1888px;
}

.tomeofgods {
    height: 32px;
    width: 32px;
    background-position: 0 -1920px;
}

.totemofpain {
    height: 32px;
    width: 32px;
    background-position: 0 -1952px;
}

.towershield {
    height: 32px;
    width: 32px;
    background-position: 0 -1984px;
}

.titaniclance {
    height: 32px;
    width: 32px;
    background-position: 0 -2016px;
}

.tlahuiztli {
    height: 32px;
    width: 32px;
    background-position: 0 -2048px;
}

.tokenofturning {
    height: 32px;
    width: 32px;
    background-position: 0 -2080px;
}

.tacticiansvoulge {
    height: 32px;
    width: 32px;
    background-position: 0 -2112px;
}

.talisman {
    height: 32px;
    width: 32px;
    background-position: 0 -2144px;
}

.targe {
    height: 32px;
    width: 32px;
    background-position: 0 -2176px;
}

.tacticianscaster {
    height: 32px;
    width: 32px;
    background-position: 0 -2208px;
}

.tacticiansgavel {
    height: 32px;
    width: 32px;
    background-position: 0 -2240px;
}

.tacticianssplitter {
    height: 32px;
    width: 32px;
    background-position: 0 -2272px;
}

.tecpatl {
    height: 32px;
    width: 32px;
    background-position: 0 -2304px;
}

.tepoztopilli {
    height: 32px;
    width: 32px;
    background-position: 0 -2336px;
}

.thiefhood {
    height: 32px;
    width: 32px;
    background-position: 0 -2368px;
}

.thunderclap {
    height: 32px;
    width: 32px;
    background-position: 0 -2400px;
}

.teleportationscroll {
    height: 32px;
    width: 32px;
    background-position: 0 -2432px;
}

.tenderizer {
    height: 32px;
    width: 32px;
    background-position: 0 -2464px;
}

.teonanacatl {
    height: 32px;
    width: 32px;
    background-position: 0 -2496px;
}

.valkyrie {
    height: 32px;
    width: 32px;
    background-position: 0 -2528px;
}

.valkyriearmor {
    height: 32px;
    width: 32px;
    background-position: 0 -2560px;
}

.valkyrieboots {
    height: 32px;
    width: 32px;
    background-position: 0 -2592px;
}

.unholypotion {
    height: 32px;
    width: 32px;
    background-position: 0 -2624px;
}

.unholywater {
    height: 32px;
    width: 32px;
    background-position: 0 -2656px;
}

.unicornessence {
    height: 32px;
    width: 32px;
    background-position: 0 -2688px;
}

.valkyriebow {
    height: 32px;
    width: 32px;
    background-position: 0 -2720px;
}

.valkyrieswisdom {
    height: 32px;
    width: 32px;
    background-position: 0 -2752px;
}

.vambrace {
    height: 32px;
    width: 32px;
    background-position: 0 -2784px;
}

.vampirehunter {
    height: 32px;
    width: 32px;
    background-position: 0 -2816px;
}

.valkyriehelm {
    height: 32px;
    width: 32px;
    background-position: 0 -2848px;
}

.valkyriesembrace {
    height: 32px;
    width: 32px;
    background-position: 0 -2880px;
}

.valkyriesgrip {
    height: 32px;
    width: 32px;
    background-position: 0 -2912px;
}

.travelingboots {
    height: 32px;
    width: 32px;
    background-position: 0 -2944px;
}

.treetrunk {
    height: 32px;
    width: 32px;
    background-position: 0 -2976px;
}

.tribarrelpistol {
    height: 32px;
    width: 32px;
    background-position: 0 -3008px;
}

.toxicbomb {
    height: 32px;
    width: 32px;
    background-position: 0 -3040px;
}

.toxicspray {
    height: 32px;
    width: 32px;
    background-position: 0 -3072px;
}

.transfixer {
    height: 32px;
    width: 32px;
    background-position: 0 -3104px;
}

.trident {
    height: 32px;
    width: 32px;
    background-position: 0 -3136px;
}

.uglysweater {
    height: 32px;
    width: 32px;
    background-position: 0 -3168px;
}

.umbrellademon {
    height: 32px;
    width: 32px;
    background-position: 0 -3200px;
}

.undeadring {
    height: 32px;
    width: 32px;
    background-position: 0 -3232px;
}

.tunic {
    height: 32px;
    width: 32px;
    background-position: 0 -3264px;
}

.twilightdoublet {
    height: 32px;
    width: 32px;
    background-position: 0 -3296px;
}

.twistedpike {
    height: 32px;
    width: 32px;
    background-position: 0 -3328px;
}
